source/jade/cabinet.jade
extends _layer.cabinet

block title
    title

block content

    .page-container: div

        .substrate.block
            .pay-take
                .art: img(src="assets/img/fixtures-payment.png")
                .text
                    h1 Платите картой — получайте баллы
                    p 15% от суммы покупок по вашим картам зачисляются на бонусный счет в виде баллов.
                    a(href="/"): span Получайте больше баллов с «Путевой картой»


        .categories
            h1 Каталог вознаграждений

            - for(i=0;i<2;i++)
                a(href="/"): div
                    img(src="assets/img/fixtures-category.jpg")
                    .title-wrapper: div
                        span Название категории
            .separator
    
            - for(i=0;i<12;i++)
                a(href="/"): div
                    img(src="assets/img/fixtures-category.jpg")
                    .title-wrapper: div
                        span Название категории

cabinet.html
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/style.css">
	<link rel="stylesheet" href="assets/new-style.css">
	<link rel="stylesheet" href="assets/responsive.css">
  </head>
  <body class="cabinet">
    <div class="header-wrapper">
      <div class="header login-header">
        <div class="static">
            <div class="logo loyalty"><a href="/"><img src="assets/img/logo_loyalty.png"></a></div>
			<div class="logo rshb"><a href="/"><img src="assets/img/logo_rshb.png"></a></div>
			<div class="cabinet-header">
				<div class="exit"><a href="">Выход</a></div>
				<div class="header-id">
					<span>1234567890</span>
				</div>
				<div class="header-price">
					<span>3724</span>
				</div>
			</div>
		</div>
      </div>
    </div>
    <div class="page-wrapper">
      <div class="page-container">
      	<div class="category-befor">
				<div class="menu-header">
					<button class="btn btn-light">
						<img src="assets/img/menu-btn.png"><span>Меню</span>
					</button>
				</div>
				<div class="container-search">
					<a href="/" class="cross-3"><img src="assets/img/cross-2.png" alt=""/></a>
					<div class="search"">
						<img src="assets/img/icon-search.png"/>
						<input type="text" placeholder="Искать по названию"/>
					</div>
				</div>
				<div class="hidden-xs back"></div>
			</div>
        <div>
          <div class="substrate block">
            <div class="pay-take">
              <div class="art"><img src="assets/img/fixtures-payment.png"></div>
              <div class="text">
                <h1>Платите картой — получайте баллы</h1>
                <p>15% от суммы покупок по вашим картам зачисляются на бонусный счет в виде баллов.</p><a href="/"><span>Получайте больше баллов с «Путевой картой»</span></a>
              </div>
            </div>
          </div>
		  <div class="history page-container">
				<h1>История операций с баллами</h1>
				<div class="stroke first">
					<div class="cell1">+150</div>
					<div class="cell2">Начисление бонусных баллов за сентябрь 2016</div>
					<div class="cell3">20 янв 2016, 18:40</div>
				</div>
				<div class="stroke">
					<div class="cell1">+150</div>
					<div class="cell2">Начисление бонусных баллов за сентябрь 2016</div>
					<div class="cell3">20 янв 2016, 18:40</div>
				</div>
				<div class="stroke">
					<div class="cell1 spisanie">- 32 000</div>
					<div class="cell2">Начисление бонусных баллов за сентябрь 2016</div>
					<div class="cell3">20 янв 2016, 18:40</div>
				</div>
				<div class="stroke">
					<div class="cell1">+150</div>
					<div class="cell2">Начисление бонусных баллов за сентябрь 2016</div>
					<div class="cell3">20 янв 2016, 18:40</div>
				</div>
				<div class="stroke">
					<div class="cell1">+150</div>
					<div class="cell2">Начисление бонусных баллов за сентябрь 2016</div>
					<div class="cell3">20 янв 2016, 18:40</div>
				</div>
				<div class="history-button">
					<button class="btn-send">Еще операции</button>
				</div>	
			
			
		  </div>
          <div class="categories">
            <h1>Каталог вознаграждений</h1><a href="/">
              <div><img src="assets/img/fixtures-category.jpg">
                <div class="title-wrapper">
                  <div><span>Название категории</span></div>
                </div>
              </div></a><a href="/">
              <div><img src="assets/img/fixtures-category.jpg">
                <div class="title-wrapper">
                  <div><span>Название категории</span></div>
                </div>
              </div></a>
            <div class="separator"></div><a href="/">
              <div><img src="assets/img/fixtures-category.jpg">
                <div class="title-wrapper">
                  <div><span>Название категории</span></div>
                </div>
              </div></a><a href="/">
              <div><img src="assets/img/fixtures-category.jpg">
                <div class="title-wrapper">
                  <div><span>Название категории</span></div>
                </div>
              </div></a><a href="/">
              <div><img src="assets/img/fixtures-category.jpg">
                <div class="title-wrapper">
                  <div><span>Название категории</span></div>
                </div>
              </div></a><a href="/">
              <div><img src="assets/img/fixtures-category.jpg">
                <div class="title-wrapper">
                  <div><span>Название категории</span></div>
                </div>
              </div></a><a href="/">
              <div><img src="assets/img/fixtures-category.jpg">
                <div class="title-wrapper">
                  <div><span>Название категории</span></div>
                </div>
              </div></a><a href="/">
              <div><img src="assets/img/fixtures-category.jpg">
                <div class="title-wrapper">
                  <div><span>Название категории</span></div>
                </div>
              </div></a><a href="/">
              <div><img src="assets/img/fixtures-category.jpg">
                <div class="title-wrapper">
                  <div><span>Название категории</span></div>
                </div>
              </div></a><a href="/">
              <div><img src="assets/img/fixtures-category.jpg">
                <div class="title-wrapper">
                  <div><span>Название категории</span></div>
                </div>
              </div></a><a href="/">
              <div><img src="assets/img/fixtures-category.jpg">
                <div class="title-wrapper">
                  <div><span>Название категории</span></div>
                </div>
              </div></a><a href="/">
              <div><img src="assets/img/fixtures-category.jpg">
                <div class="title-wrapper">
                  <div><span>Название категории</span></div>
                </div>
              </div></a><a href="/">
              <div><img src="assets/img/fixtures-category.jpg">
                <div class="title-wrapper">
                  <div><span>Название категории</span></div>
                </div>
              </div></a><a href="/">
              <div><img src="assets/img/fixtures-category.jpg">
                <div class="title-wrapper">
                  <div><span>Название категории</span></div>
                </div>
              </div></a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="footer-wrapper category-footer">
      <div class="footer">
        <div class="info">
          <div class="block"><span class="title">Информация об услугах</span><a href="/" class="owner">Официальный сайт АО «Россельхозбанк»</a><span class="phone">8 (800) 200-02-90</span><span class="footnote">Звонок по России бесплатный</span></div>
          <div class="block social"><span class="title">Мы в социальных сетях</span><a href="/"><img src="assets/img/facebook.png"><span>Facebook</span></a><a href="/"><img src="assets/img/twitter.png"><span>Twitter</span></a><a href="/"><img src="assets/img/vk.png"><span>Вконтакте</span></a><a href="/"><img src="assets/img/od.png"><span>Одноклассники</span></a></div>
          <div class="block links"><span class="title">Программа лояльности</span><a href="/"><span>Помощь и поддержка</span></a><a href="/"><span>Условия Программы лояльности «Урожай»</span></a></div>
        </div>
        <div class="copy"><span>© 2000-2016 АО «Россельхозбанк»</span><span>119034, г. Москва, Гагаринский пер., д.3.</span><span>E-mail: office@rshb.ru</span></div>
      </div>
    </div>
	<div class="footer-cart">
		<div>
			<img id="cart-footer" src="assets/img/footer-cart.jpg"/>
			<a href="/">Политика безопасности</a>
			<img id="platforma" src="assets/img/platforma.jpg"/>
		</div>
	</div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/slick.min.js"></script>
  <script src="assets/js/retina.min.js"></script>
  <script src="assets/js/jquery.fs.selecter.js"></script>
  <script src="assets/js/new-scripts.js"></script>
    
    
    
  </body>
</html>
