help.html
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css.css">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/jquery.fs.selecter.css">
    <link rel="stylesheet" href="assets/new-style.css">
    <link rel="stylesheet" href="assets/responsive.css">
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/retina.min.js"></script>
    <script src="assets/js/accordion.js"></script>
    <script src="assets/js/jquery.fs.selecter.js"></script>
  <script src="assets/js/new-scripts.js"></script>
  </head>
  <body class="landing alt-bg">
    <div class="header-wrapper">
      <div class="header login-header">
        <div class="static">
            <div class="logo loyalty"><a href="/"><img src="assets/img/logo_loyalty.png"></a></div>
			<div class="logo rshb"><a href="/"><img src="assets/img/logo_rshb.png"></a></div>
			<div class="cabinet-header">
				<div class="exit"><a href="">Выход</a></div>
				<div class="header-id">
					<span>1234567890</span>
				</div>
				<div class="header-price">
					<span>3724</span>
				</div>
			</div>
		</div>
      </div>
    </div>
    <div class="page-wrapper">
      <div class="page-container col-md-12 col-xs-12">
        <div class="category-befor">
          <div class="menu-header">
            <button class="btn btn-light"><img src="assets/img/menu-btn.png"><span>Меню</span></button>
          </div>
          <div class="container-search">
					<a href="/" class="cross-3"><img src="assets/img/cross-2.png" alt=""/></a>
					<div class="search"">
						<img src="assets/img/icon-search.png"/>
						<input type="text" placeholder="Искать по названию"/>
					</div>
				</div>
          <div class="hidden-xs back"></div>
        </div>
        <div class="category-befor">
          <div class="breadcrumbs">
            <h2>Помощь и поддержка</h2>
          </div>
        </div>
        <div class="page-container of padding-2">
          <div>
            <div class="substrate">
              <div class="inner__content">
                <div class="help__block">
                  <div class="title">Начисление баллов</div>
                  <div class="accordion js-accordion">
                    <div class="accordion__link js-accordion_link"> Не начислилиcь баллы за действия в соцсетях</div>
                    <div class="accordion__content js-accordion_content">Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.</div>
                  </div>
                  <div class="accordion js-accordion">
                    <div class="accordion__link js-accordion_link"> Отладка работы сайтов на хостинге</div>
                    <div class="accordion__content js-accordion_content">Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.</div>
                  </div>
                  <div class="accordion js-accordion">
                    <div class="accordion__link js-accordion_link"> Мои письма часто попадают в спам</div>
                    <div class="accordion__content js-accordion_content">Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.</div>
                  </div>
                  <div class="accordion js-accordion">
                    <div class="accordion__link js-accordion_link"> Начинаем работу с хостингом</div>
                    <div class="accordion__content js-accordion_content">Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.</div>
                  </div>
                  <div class="accordion js-accordion">
                    <div class="accordion__link js-accordion_link"> Начинаем работу с VPS</div>
                    <div class="accordion__content js-accordion_content">Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.</div>
                  </div>
                  <div class="accordion js-accordion">
                    <div class="accordion__link js-accordion_link"> Как сменить версию PHP или подключить нужный модуль</div>
                    <div class="accordion__content js-accordion_content">Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.</div>
                  </div>
                </div>
                <div class="help__block">
                  <div class="title">Заказ и получение вознаграждений</div>
                  <div class="accordion js-accordion">
                    <div class="accordion__link js-accordion_link"> Не начислилиcь баллы за действия в соцсетях</div>
                    <div class="accordion__content js-accordion_content">Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.</div>
                  </div>
                  <div class="accordion js-accordion">
                    <div class="accordion__link js-accordion_link"> Отладка работы сайтов на хостинге</div>
                    <div class="accordion__content js-accordion_content">Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.</div>
                  </div>
                  <div class="accordion js-accordion">
                    <div class="accordion__link js-accordion_link"> Мои письма часто попадают в спам</div>
                    <div class="accordion__content js-accordion_content">Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.</div>
                  </div>
                  <div class="accordion js-accordion">
                    <div class="accordion__link js-accordion_link">Начинаем работу с хостингом</div>
                    <div class="accordion__content js-accordion_content">Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.</div>
                  </div>
                  <div class="accordion js-accordion">
                    <div class="accordion__link js-accordion_link"> Начинаем работу с VPS</div>
                    <div class="accordion__content js-accordion_content">Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.</div>
                  </div>
                  <div class="accordion js-accordion">
                    <div class="accordion__link js-accordion_link"> Как сменить версию PHP или подключить нужный модуль</div>
                    <div class="accordion__content js-accordion_content">Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.</div>
                  </div>
                </div>
              </div>
              <div class="separator"></div>
              <div class="inner__content">
                <form class="help__form">
                  <div class="title">Написать нам</div>
                  <div class="textbox-2 clearfix">
                     <span class="textbox-span">Тема обращения</span>
                     <select class="left" name="num" id="test">
						<option>Начисление баллов</option>
						<option>Вторая опция</option>
						<option>Третья опция</option>
					 </select>
                  </div>
                  <div class="textbox clearfix"><span>Эл. почта</span>
                    <input type="text" placeholder="vvvoldemar@mail.com">
                  </div>
                  <div class="textbox clearfix"><span>ID Участника</span>
                    <input type="text" placeholder="1234567890123">
                  </div>
                  
                  <div class="fo-textarea">
					<textarea placeholder="Введите текст сообщения"></textarea>
				  </div>
                  <div class="control">
                    <button type="submit" class="btn btn-bright"><span>Отправить</span></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-wrapper">
      <div class="footer">
        <div class="info">
          <div class="block"><span class="title">Информация об услугах</span><a href="/" class="owner">Официальный сайт АО «Россельхозбанк»</a><span class="phone">8 (800) 200-02-90</span><span class="footnote">Звонок по России бесплатный</span></div>
          <div class="block social"><span class="title">Мы в социальных сетях</span><a href="/"><img src="assets/img/facebook.png"><span>Facebook</span></a><a href="/"><img src="assets/img/twitter.png"><span>Twitter</span></a><a href="/"><img src="assets/img/vk.png"><span>Вконтакте</span></a><a href="/"><img src="assets/img/od.png"><span>Одноклассники</span></a></div>
          <div class="block links"><span class="title">Программа лояльности</span><a href="/"><span>Помощь и поддержка</span></a><a href="/"><span>Условия Программы лояльности «Урожай»</span></a></div>
        </div>
        <div class="copy"><span>© 2000-2016 АО «Россельхозбанк»</span><span>119034, г. Москва, Гагаринский пер., д.3.</span><span>E-mail: office@rshb.ru</span></div>
      </div>
    </div>
	<div class="footer-cart">
		<div>
			<img id="cart-footer" src="assets/img/footer-cart.jpg"/>
			<a href="/">Политика безопасности</a>
			<img id="platforma" src="assets/img/platforma.jpg"/>
		</div>
	</div>
  </body>
</html>

source/jade/help.jade
extends _layer.inner


block title
    title

block content

    .page-container.col-md-12.col-xs-12
      .category-befor
        .menu-header
          button.btn.btn-light
            img(src='assets/img/menu-btn.png')
            span Меню
        .search
          img(src='assets/img/icon-search.png')
          input(type='text', placeholder='Искать по названию')
        .hidden-xs.back
        
      .category-befor
        .breadcrumbs
          h2 Помощь и поддержка
          
      .page-container.of
        div
          .substrate
            .inner__content
              .help__block
                .title Начисление баллов
                .accordion.js-accordion
                  .accordion__link.js-accordion_link  Не начислилиcь баллы за действия в соцсетях
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                  
                .accordion.js-accordion
                  .accordion__link.js-accordion_link  Отладка работы сайтов на хостинге
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                  
                .accordion.js-accordion
                  .accordion__link.js-accordion_link  Мои письма часто попадают в спам
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                  
                .accordion.js-accordion
                  .accordion__link.js-accordion_link  Начинаем работу с хостингом
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                  
                .accordion.js-accordion
                  .accordion__link.js-accordion_link  Начинаем работу с VPS
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                  
                .accordion.js-accordion
                  .accordion__link.js-accordion_link  Как сменить версию PHP или подключить нужный модуль
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                  
              .help__block
                .title Заказ и получение вознаграждений
                .accordion.js-accordion
                  .accordion__link.js-accordion_link  Не начислилиcь баллы за действия в соцсетях
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                  
                .accordion.js-accordion
                  .accordion__link.js-accordion_link  Отладка работы сайтов на хостинге
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                  
                .accordion.js-accordion
                  .accordion__link.js-accordion_link  Мои письма часто попадают в спам
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                  
                .accordion.js-accordion
                  .accordion__link.js-accordion_link Начинаем работу с хостингом
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                  
                .accordion.js-accordion
                  .accordion__link.js-accordion_link  Начинаем работу с VPS
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                  
                .accordion.js-accordion
                  .accordion__link.js-accordion_link  Как сменить версию PHP или подключить нужный модуль
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                
            .separator
            
            .inner__content
              form.help__form
                .title Написать нам
                .textbox.clearfix
                  span Тема обращения
                  .select.styled-select
                    select
                      option Первая опция
                      option Вторая опция
                      option Третья опция
                .textbox.clearfix
                  span Эл. почта
                  input(type='text')
                .textbox.clearfix
                  span ID Участника
                  input(type='text')
                .textbox.clearfix
                  textarea(placeholder='Введите текст сообщения')
                .control
                  button.btn.btn-bright(type='submit')
                    span Отправить
