source/jade/homepage.jade
extends _layer.landing

block title
    title

block content

    .novelty#slides: - for(i=0;i<3;i++)
        .item-wrapper
            img(src="assets/img/fixtures-banner.jpg");

            .item: .content-wrapper: div
                .content
                    span.label Программа лояльности Россельхозбанка
                    span.title Получайте подарки<br>за покупки по карте

                    button.btn.btn-bright: span Подключиться к программе

    .page-container: div
        .section.how-it-works
            h1 Как работает программа
            p Универсальная программа лояльности «Урожай» объединяет в себе элементы авиакобрендов, карт с CashBack и дисконтных карт. Бонусные баллы можно потратить на товары из каталога вознаграждений.

            .concept
                .stage
                    img(src="assets/img/icon-desktop.png")
                    span Получите ID участника и подключитесь к программе

                .stage
                    img(src="assets/img/icon-bonus.png")
                    span Получайте баллы за покупки по карте

                .stage
                    img(src="assets/img/icon-basket.png")
                    span Тратьте баллы на подарки для себя и близких

        .section.how-to-start
            h1 Как стать участником

            .invitation: div
                span.label Подключитесь, собирайте баллы, получайте подарки
                button.btn.btn-bright: span Подключиться к программе

        .section.how-to-getbonus
            h1 Платите картой и получайте баллы

            .bankcard
                div: img(src="assets/img/payment.png")
                div
                    p 15% от суммы покупок по вашим картам зачисляются на бонусный счет в виде баллов. Опцию могут бесплатно подключить все клиенты – держатели платёжных карт АО «Россельхозбанк»
                    a(href="/"): span Какие карты участвуют в программе

        .section.web-service
            a(href="/").flat-link
                div.art: img(src="assets/img/icon-calc.png")
                div.text
                    text Калькулятор бонусных баллов:<br>рассчитайте вашу выгоду от программы
                    span.marker

            a(href="/").flat-link
                div.art: img(src="assets/img/paymantcard-s.png")
                div.text
                    text Получайте повышенный CashBack и другие бонусы с «Путевой картой»
                    span.marker

        .section.how-to-exchange
            h1 Меняйте баллы на подарки

            .points-exchange-scheme
                ul.nav.nav-tabs
                    li.active
                        a(data-toggle="tab" href="#gift")
                            span.marker-wrapper: span.marker 1
                            span Выберите подарки на нашей витрине
                    li
                        a(data-toggle="tab" href="#order")
                            span.marker-wrapper: span.marker 2
                            span Укажите адрес доставки
                    li
                        a(data-toggle="tab" href="#delivery")
                            span.marker-wrapper: span.marker 3
                            span Мы доставим <em>ваш</em> подарок в любую точку России

                .tab-content
                    div(id="gift" class="tab-pane fade in active")
                        img(src="assets/img/fixtures-mac1.png");

                    div(id="order" class="tab-pane fade")
                        img(src="assets/img/fixtures-mac2.png");

                    div(id="delivery" class="tab-pane fade")
                        img(src="assets/img/fixtures-mac3.png");

        .section.last-news
            a(href="/").title Новости программы лояльности «Урожай»

            div
                .news
                    span.date 21 июля 2016
                    a(href="/") Россельхозбанк снизил процентные ставки по кредитам на развитие личного подсобного хозяйства

                .news
                    span.date 21 июля 2016
                    a(href="/") Россельхозбанк принял участие в совещании Минсельхоза России по вопросам проведения весенних полевых работ в Центральном федеральном округе

                .news
                    span.date 21 июля 2016
                    a(href="/") Дмитрий Патрушев провел рабочую встречу с Губернатором Новгородской области Сергеем Митиным

homepage.html
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/style.css">
	<link rel="stylesheet" href="assets/new-style.css">
	<link rel="stylesheet" href="assets/responsive.css">
  </head>
  <body class="landing">
    <div class="header-wrapper">
      <div class="header no-login">
        <div class="static">
          <div class="logo loyalty"><a href="/"><img src="assets/img/logo_loyalty.png"></a></div>
          <div class="logo rshb"><a href="/"><img src="assets/img/logo_rshb.png"></a></div>
          <button class="btn btn-light"><img src="assets/img/icon-lock.png"><span>Войти</span></button>
        </div>
      </div>
    </div>
    <div class="page-wrapper">
      <div id="slides" class="novelty">
        <div class="item-wrapper"><img src="assets/img/fixtures-banner.jpg">
          <div class="item">
            <div class="content-wrapper">
              <div>
                <div class="content"><span class="label">Программа лояльности Россельхозбанка</span><span class="title">Получайте подарки<br>за покупки по карте</span>
                  <button class="btn btn-bright"><span>Подключиться к программе</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item-wrapper"><img src="assets/img/fixtures-banner.jpg">
          <div class="item">
            <div class="content-wrapper">
              <div>
                <div class="content"><span class="label">Программа лояльности Россельхозбанка</span><span class="title">Получайте подарки<br>за покупки по карте</span>
                  <button class="btn btn-bright"><span>Подключиться к программе</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item-wrapper"><img src="assets/img/fixtures-banner.jpg">
          <div class="item">
            <div class="content-wrapper">
              <div>
                <div class="content"><span class="label">Программа лояльности Россельхозбанка</span><span class="title">Получайте подарки<br>за покупки по карте</span>
                  <button class="btn btn-bright"><span>Подключиться к программе</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-container">
        <div>
          <div class="section how-it-works">
            <h1>Как работает программа</h1>
            <p>Универсальная программа лояльности «Урожай» объединяет в себе элементы авиакобрендов, карт с CashBack и дисконтных карт. Бонусные баллы можно потратить на товары из каталога вознаграждений.</p>
            <div class="concept">
              <div class="stage">
              	 <a href="#r1">
	              	 <img src="assets/img/icon-desktop.png">
	              	 <span>
	              		Получите ID участника и подключитесь к программе
	              	 </span>
              	 </a>
              </div>
              <div class="stage">
              	 <a href="#r2">
              	 	<img src="assets/img/icon-bonus.png">
	              	 <span>
	              	 	Получайте баллы за покупки по карте
	              	 </span>
              	 </a>
              </div>
              <div class="stage">
              	 <a href="#r3">
	              	 <img src="assets/img/icon-basket.png">
	              	 <span>
	              	 	Тратьте баллы на подарки для себя и близких
	              	 </span>
              	 </a>
              </div>
            </div>
          </div>
          <div class="section how-to-start" id="r1">
            <h1>Как стать участником</h1>
            <div class="invitation">
              <div><span class="label">Подключитесь, собирайте баллы, получайте подарки</span>
                <button class="btn btn-bright"><span>Подключиться к программе</span></button>
              </div>
            </div>
          </div>
          <div class="section how-to-getbonus" id="r2">
            <h1>Платите картой и получайте баллы</h1>
            <div class="bankcard">
              <div><img src="assets/img/payment.png"></div>
              <div>
                <p>15% от суммы покупок по вашим картам зачисляются на бонусный счет в виде баллов. Опцию могут бесплатно подключить все клиенты – держатели платёжных карт АО «Россельхозбанк»</p><a href="/"><span>Какие карты участвуют в программе</span></a>
              </div>
            </div>
          </div>
          <div class="section web-service"><a href="/" class="flat-link">
              <div class="art"><img src="assets/img/icon-calc.png"></div>
              <div class="text">
                <text>Калькулятор бонусных баллов:<br>рассчитайте вашу выгоду от программы</text>
              </div></a><a href="/" class="flat-link">
              <div class="art"><img src="assets/img/paymantcard-s.png"></div>
              <div class="text">
                <text>Получайте повышенный CashBack и другие бонусы с «Путевой картой»</text>
              </div></a></div>
          <div class="section how-to-exchange" id="r3">
            <h1>Меняйте баллы на подарки</h1>
            <div class="points-exchange-scheme">
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#gift"><span class="marker-wrapper"><span class="marker">1</span></span><span>Выберите подарки на нашей витрине</span></a></li>
                <li><a data-toggle="tab" href="#order"><span class="marker-wrapper"><span class="marker">2</span></span><span>Укажите адрес доставки</span></a></li>
                <li><a data-toggle="tab" href="#delivery"><span class="marker-wrapper"><span class="marker">3</span></span><span>Мы доставим <em>ваш</em> подарок в любую точку России</span></a></li>
              </ul>
              <div class="tab-content">
                <div id="gift" class="tab-pane fade in active"><img src="assets/img/fixtures-mac1.png"></div>
                <div id="order" class="tab-pane fade"><img src="assets/img/fixtures-mac2.png"></div>
                <div id="delivery" class="tab-pane fade"><img src="assets/img/fixtures-mac3.png"></div>
              </div>
            </div>
          </div>
          <div class="section last-news"><a href="/" class="title">Новости программы лояльности «Урожай»</a>
            <div>
              <div class="news"><span class="date">21 июля 2016</span><a href="/">Россельхозбанк снизил процентные ставки по кредитам на развитие личного подсобного хозяйства</a></div>
              <div class="news"><span class="date">21 июля 2016</span><a href="/">Россельхозбанк принял участие в совещании Минсельхоза России по вопросам проведения весенних полевых работ в Центральном федеральном округе</a></div>
              <div class="news"><span class="date">21 июля 2016</span><a href="/">Дмитрий Патрушев провел рабочую встречу с Губернатором Новгородской области Сергеем Митиным</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-wrapper">
      <div class="footer">
        <div class="info">
          <div class="block"><span class="title">Информация об услугах</span><a href="/" class="owner">Официальный сайт АО «Россельхозбанк»</a><span class="phone">8 (800) 200-02-90</span><span class="footnote">Звонок по России бесплатный</span></div>
          <div class="block social"><span class="title">Мы в социальных сетях</span><a href="/"><img src="assets/img/facebook.png"><span>Facebook</span></a><a href="/"><img src="assets/img/twitter.png"><span>Twitter</span></a><a href="/"><img src="assets/img/vk.png"><span>Вконтакте</span></a><a href="/"><img src="assets/img/od.png"><span>Одноклассники</span></a></div>
          <div class="block links"><span class="title">Программа лояльности</span><a href="/"><span>Помощь и поддержка</span></a><a href="/"><span>Условия Программы лояльности «Урожай»</span></a></div>
        </div>
        <div class="copy"><span>© 2000-2016 АО «Россельхозбанк»</span><span>119034, г. Москва, Гагаринский пер., д.3.</span><span>E-mail: office@rshb.ru</span></div>
      </div>
    </div>
	<div class="footer-cart">
		<div>
			<img id="cart-footer" src="assets/img/footer-cart.jpg"/>
			<a href="/">Политика безопасности</a>
			<img id="platforma" src="assets/img/platforma.jpg"/>
		</div>
	</div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/slick.min.js"></script>
  <script src="assets/js/retina.min.js"></script>
  <script>
    $(document).ready(function () {
    
        $('#slides').slick({
            autoplaySpeed: 6000,
            pauseOnHover: false,
            draggable: false,
            autoplay: true,
            arrows: false,
            fade: true,
            dots: true
        });
    })
  </script>
  <script src="assets/js/new-scripts.js"></script>
</html>
