source/jade/news.jade
extends _layer.landing


block title
    title

block content

    .page-container: div
      .path
        ul.path__list
            li.path__item
                a.path__link(href="#") Главная
            li.path__item
                span.path__link Новости
      h1.news-title Новости программы лояльности «Урожай»
      ul.news
        li.news__item 
          a.news__title(href="#") Россельхозбанк и Объединенная авиастроительная корпорация подписали Соглашение о сотрудничестве
          .news__date 22 июня 2016
          p.news__text АО «Россельхозбанк» и ПАО «Объединенная авиастроительная корпорация» (ОАК) заключили Соглашение о сотрудничестве. Документ был подписан Председателем Правления Банка Дмитрием Патрушевым и Президентом ОАК Юрием Слюсарем.
        li.news__item 
          a.news__title(href="#") Россельхозбанк профинансировал группу компаний «Грейн Холдинг»
          .news__date 22 июня 2016
          p.news__text АО «Россельхозбанк» открыл кредитную линию в размере 3 млрд рублей ГК «Грейн Холдинг» сроком на 1 год. Кредитные средства компания планирует направить на приобретение свыше 300 тыс. тонн зерна у аграриев для последующей его переработки.
        li.news__item 
          a.news__title(href="#") Россельхозбанк и Объединенная авиастроительная корпорация подписали Соглашение о сотрудничестве
          .news__date 22 июня 2016
          p.news__text АО «Россельхозбанк» и ПАО «Объединенная авиастроительная корпорация» (ОАК) заключили Соглашение о сотрудничестве. Документ был подписан Председателем Правления Банка Дмитрием Патрушевым и Президентом ОАК Юрием Слюсарем.
        li.news__item 
          a.news__title(href="#") Россельхозбанк профинансировал группу компаний «Грейн Холдинг»
          .news__date 22 июня 2016
          p.news__text АО «Россельхозбанк» открыл кредитную линию в размере 3 млрд рублей ГК «Грейн Холдинг» сроком на 1 год. Кредитные средства компания планирует направить на приобретение свыше 300 тыс. тонн зерна у аграриев для последующей его переработки.
        li.news__item 
          a.news__title(href="#") Россельхозбанк и Объединенная авиастроительная корпорация подписали Соглашение о сотрудничестве
          .news__date 22 июня 2016
          p.news__text АО «Россельхозбанк» и ПАО «Объединенная авиастроительная корпорация» (ОАК) заключили Соглашение о сотрудничестве. Документ был подписан Председателем Правления Банка Дмитрием Патрушевым и Президентом ОАК Юрием Слюсарем.
        li.news__item 
          a.news__title(href="#") Россельхозбанк профинансировал группу компаний «Грейн Холдинг»
          .news__date 22 июня 2016
          p.news__text АО «Россельхозбанк» открыл кредитную линию в размере 3 млрд рублей ГК «Грейн Холдинг» сроком на 1 год. Кредитные средства компания планирует направить на приобретение свыше 300 тыс. тонн зерна у аграриев для последующей его переработки.
        li.news__item 
          a.news__title(href="#") Россельхозбанк и Объединенная авиастроительная корпорация подписали Соглашение о сотрудничестве
          .news__date 22 июня 2016
          p.news__text АО «Россельхозбанк» и ПАО «Объединенная авиастроительная корпорация» (ОАК) заключили Соглашение о сотрудничестве. Документ был подписан Председателем Правления Банка Дмитрием Патрушевым и Президентом ОАК Юрием Слюсарем.
        li.news__item 
          a.news__title(href="#") Россельхозбанк профинансировал группу компаний «Грейн Холдинг»
          .news__date 22 июня 2016
          p.news__text АО «Россельхозбанк» открыл кредитную линию в размере 3 млрд рублей ГК «Грейн Холдинг» сроком на 1 год. Кредитные средства компания планирует направить на приобретение свыше 300 тыс. тонн зерна у аграриев для последующей его переработки.
      .pagination
        a.pagination__item(href="#") 1
        a.pagination__item.pagination__item--active(href="#") 2
        a.pagination__item(href="#") 3

news.html
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/style.css">
	<link rel="stylesheet" href="assets/new-style.css">
	<link rel="stylesheet" href="assets/responsive.css">
  </head>
  <body class="landing">
    <div class="header-wrapper">
      <div class="header no-login">
        <div class="static">
          <div class="logo loyalty"><a href="/"><img src="assets/img/logo_loyalty.png"></a></div>
          <div class="logo rshb"><a href="/"><img src="assets/img/logo_rshb.png"></a></div>
          <button class="btn btn-light"><img src="assets/img/icon-lock.png"><span>Войти</span></button>
        </div>
      </div>
    </div>
    <div class="page-wrapper">
      <div class="page-container for-news">
        <div>
          <div class="path">
            <ul class="path__list">
              <li class="path__item"><a href="#" class="path__link">Главная</a></li>
              <li class="path__item"><span class="path__link">Новости</span></li>
            </ul>
          </div>
          <h1 class="news-title">Новости программы лояльности «Урожай»</h1>
          <ul class="news">
            <li class="news__item"> <a href="#" class="news__title">Россельхозбанк и Объединенная авиастроительная корпорация подписали Соглашение о сотрудничестве</a>
              <div class="news__date">22 июня 2016</div>
              <p class="news__text">АО «Россельхозбанк» и ПАО «Объединенная авиастроительная корпорация» (ОАК) заключили Соглашение о сотрудничестве. Документ был подписан Председателем Правления Банка Дмитрием Патрушевым и Президентом ОАК Юрием Слюсарем.</p>
            </li>
            <li class="news__item"> <a href="#" class="news__title">Россельхозбанк профинансировал группу компаний «Грейн Холдинг»</a>
              <div class="news__date">22 июня 2016</div>
              <p class="news__text">АО «Россельхозбанк» открыл кредитную линию в размере 3 млрд рублей ГК «Грейн Холдинг» сроком на 1 год. Кредитные средства компания планирует направить на приобретение свыше 300 тыс. тонн зерна у аграриев для последующей его переработки.</p>
            </li>
            <li class="news__item"> <a href="#" class="news__title">Россельхозбанк и Объединенная авиастроительная корпорация подписали Соглашение о сотрудничестве</a>
              <div class="news__date">22 июня 2016</div>
              <p class="news__text">АО «Россельхозбанк» и ПАО «Объединенная авиастроительная корпорация» (ОАК) заключили Соглашение о сотрудничестве. Документ был подписан Председателем Правления Банка Дмитрием Патрушевым и Президентом ОАК Юрием Слюсарем.</p>
            </li>
            <li class="news__item"> <a href="#" class="news__title">Россельхозбанк профинансировал группу компаний «Грейн Холдинг»</a>
              <div class="news__date">22 июня 2016</div>
              <p class="news__text">АО «Россельхозбанк» открыл кредитную линию в размере 3 млрд рублей ГК «Грейн Холдинг» сроком на 1 год. Кредитные средства компания планирует направить на приобретение свыше 300 тыс. тонн зерна у аграриев для последующей его переработки.</p>
            </li>
            <li class="news__item"> <a href="#" class="news__title">Россельхозбанк и Объединенная авиастроительная корпорация подписали Соглашение о сотрудничестве</a>
              <div class="news__date">22 июня 2016</div>
              <p class="news__text">АО «Россельхозбанк» и ПАО «Объединенная авиастроительная корпорация» (ОАК) заключили Соглашение о сотрудничестве. Документ был подписан Председателем Правления Банка Дмитрием Патрушевым и Президентом ОАК Юрием Слюсарем.</p>
            </li>
            <li class="news__item"> <a href="#" class="news__title">Россельхозбанк профинансировал группу компаний «Грейн Холдинг»</a>
              <div class="news__date">22 июня 2016</div>
              <p class="news__text">АО «Россельхозбанк» открыл кредитную линию в размере 3 млрд рублей ГК «Грейн Холдинг» сроком на 1 год. Кредитные средства компания планирует направить на приобретение свыше 300 тыс. тонн зерна у аграриев для последующей его переработки.</p>
            </li>
            <li class="news__item"> <a href="#" class="news__title">Россельхозбанк и Объединенная авиастроительная корпорация подписали Соглашение о сотрудничестве</a>
              <div class="news__date">22 июня 2016</div>
              <p class="news__text">АО «Россельхозбанк» и ПАО «Объединенная авиастроительная корпорация» (ОАК) заключили Соглашение о сотрудничестве. Документ был подписан Председателем Правления Банка Дмитрием Патрушевым и Президентом ОАК Юрием Слюсарем.</p>
            </li>
            <li class="news__item"> <a href="#" class="news__title">Россельхозбанк профинансировал группу компаний «Грейн Холдинг»</a>
              <div class="news__date">22 июня 2016</div>
              <p class="news__text">АО «Россельхозбанк» открыл кредитную линию в размере 3 млрд рублей ГК «Грейн Холдинг» сроком на 1 год. Кредитные средства компания планирует направить на приобретение свыше 300 тыс. тонн зерна у аграриев для последующей его переработки.</p>
            </li>
          </ul>
          <div class="pagination"><a href="#" class="pagination__item">1</a><a href="#" class="pagination__item pagination__item--active">2</a><a href="#" class="pagination__item">3</a></div>
        </div>
      </div>
    </div>
    <div class="footer-wrapper">
      <div class="footer">
        <div class="info">
          <div class="block"><span class="title">Информация об услугах</span><a href="/" class="owner">Официальный сайт АО «Россельхозбанк»</a><span class="phone">8 (800) 200-02-90</span><span class="footnote">Звонок по России бесплатный</span></div>
          <div class="block social"><span class="title">Мы в социальных сетях</span><a href="/"><img src="assets/img/facebook.png"><span>Facebook</span></a><a href="/"><img src="assets/img/twitter.png"><span>Twitter</span></a><a href="/"><img src="assets/img/vk.png"><span>Вконтакте</span></a><a href="/"><img src="assets/img/od.png"><span>Одноклассники</span></a></div>
          <div class="block links"><span class="title">Программа лояльности</span><a href="/"><span>Помощь и поддержка</span></a><a href="/"><span>Условия Программы лояльности «Урожай»</span></a></div>
        </div>
        <div class="copy"><span>© 2000-2016 АО «Россельхозбанк»</span><span>119034, г. Москва, Гагаринский пер., д.3.</span><span>E-mail: office@rshb.ru</span></div>
      </div>
    </div>
	<div class="footer-cart">
		<div>
			<img id="cart-footer" src="assets/img/footer-cart.jpg"/>
			<a href="/">Политика безопасности</a>
			<img id="platforma" src="assets/img/platforma.jpg"/>
		</div>
	</div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/slick.min.js"></script>
  <script src="assets/js/retina.min.js"></script>
  <script>
    $(document).ready(function () {
    
        $('#slides').slick({
            autoplaySpeed: 6000,
            pauseOnHover: false,
            draggable: false,
            autoplay: false,
            arrows: false,
            fade: true,
            dots: true
        });
    })
  </script>
  <script src="assets/js/new-scripts.js"></script>
</html>
