registration.html
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/style.css">
	<link rel="stylesheet" href="assets/new-style.css">
	<link rel="stylesheet" href="assets/responsive.css">
  </head>
  <body class="landing alt-bg">
    <div class="header-wrapper">
      <div class="header no-login">
        <div class="static">
          <div class="logo loyalty"><a href="/"><img src="assets/img/logo_loyalty.png"></a></div>
          <div class="logo rshb"><a href="/"><img src="assets/img/logo_rshb.png"></a></div>
          <button class="btn btn-light"><img src="assets/img/icon-lock.png"><span>Войти</span></button>
        </div>
      </div>
    </div>
    <div class="page-wrapper">
      <div class="page-container">
        <div>
          <div class="substrate padding">
            <div class="form-block"><span class="title">Регистрация в программе</span>
              <form>
                <div class="textbox">
                  <input type="text" placeholder="Введите ID участника">
                </div>
                <div class="control">
                  <button type="submit" class="btn btn-bright"><span>Готово</span></button>
                </div>
              </form>
            </div>
            <div class="separator"></div>
            <div class="info-block">
              <h1>Как получить ID и зарегистрироваться?</h1>
              <p>Участвовать в программе лояльности могут держатели действующих платежных карт следующих тарифных планов:</p>
              <ul>
                <li><span>Зарплатный</span></li>
                <li><span>Зарплатный-РСХБ</span></li>
                <li><span>Зарплатный 5+</span></li>
                <li><span>Персональный</span></li>
                <li><span>Пенсионный</span></li>
                <li><span>Путевая карта (участвует по умолчанию, не требует подключения)</span></li>
                <li><span>Капитал</span></li>
                <li><span>Сервисный</span></li>
                <li><span>Кредитная карта с льготным периодом кредитования</span></li>
              </ul>
              <p>Программа лояльности «Урожай» подключается как бесплатная дополнительная услуга в банкоматах и терминалах, в дополнительных офисах Россельхозбанка или с помощью сотрудника Контакт-центра, по номеру <strong>8-800-200-60-99</strong>.</p>
              <p>Вы ещё не являетесь держателем карты Россельхозбанка? </p><a href="/"><span>Оформить карту</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-wrapper">
      <div class="footer">
        <div class="info">
          <div class="block"><span class="title">Информация об услугах</span><a href="/" class="owner">Официальный сайт АО «Россельхозбанк»</a><span class="phone">8 (800) 200-02-90</span><span class="footnote">Звонок по России бесплатный</span></div>
          <div class="block social"><span class="title">Мы в социальных сетях</span><a href="/"><img src="assets/img/facebook.png"><span>Facebook</span></a><a href="/"><img src="assets/img/twitter.png"><span>Twitter</span></a><a href="/"><img src="assets/img/vk.png"><span>Вконтакте</span></a><a href="/"><img src="assets/img/od.png"><span>Одноклассники</span></a></div>
          <div class="block links"><span class="title">Программа лояльности</span><a href="/"><span>Помощь и поддержка</span></a><a href="/"><span>Условия Программы лояльности «Урожай»</span></a></div>
        </div>
        <div class="copy"><span>© 2000-2016 АО «Россельхозбанк»</span><span>119034, г. Москва, Гагаринский пер., д.3.</span><span>E-mail: office@rshb.ru</span></div>
      </div>
    </div>
	<div class="footer-cart">
		<div>
			<img id="cart-footer" src="assets/img/footer-cart.jpg"/>
			<a href="/">Политика безопасности</a>
			<img id="platforma" src="assets/img/platforma.jpg"/>
		</div>
	</div>
  </body>
</html>

source/jade/registration.jade
extends _layer.landing_dark

block title
    title

block content

    .page-container: div
        .substrate
            
            .form-block
                span.title Регистрация в программе
                form
                    .textbox
                        input(type="text" placeholder="Введите ID участника")

                    .control
                        button(type="submit").btn.btn-bright: span Готово

            .separator

            .info-block
                h1 Как получить ID и зарегистрироваться?
                p Участвовать в программе лояльности могут держатели действующих платежных карт следующих тарифных планов:
                ul
                    li: span Зарплатный
                    li: span Зарплатный-РСХБ
                    li: span Зарплатный 5+
                    li: span Персональный
                    li: span Пенсионный
                    li: span Путевая карта (участвует по умолчанию, не требует подключения)
                    li: span Капитал
                    li: span Сервисный
                    li: span Кредитная карта с льготным периодом кредитования
                p Программа лояльности «Урожай» подключается как бесплатная дополнительная услуга в банкоматах и терминалах, в дополнительных офисах Россельхозбанка или с помощью сотрудника Контакт-центра, по номеру <strong>8-800-200-60-99</strong>.
                p Вы ещё не являетесь держателем карты Россельхозбанка? 
                a(href="/"): span Оформить карту
