source/jade/registration_access.jade
extends _layer.landing_dark

block title
    title

block content

    .page-container: div
        .substrate
            
            .form-block
                span.title Введите код подтверждения
                form
                    .message
                        p Код подтверждения отправлен на номер +7 926 ×××-××-12
                        p Вы можете получить новый код через <span>0:29</span>
                    
                    .textbox
                        input(type="text" placeholder="Введите код")

                    .textbox
                        input(type="text" placeholder="Придумайте пароль")

                    .textbox
                        input(type="text" placeholder="Повторите пароль")

                    .control
                        button(type="submit").btn.btn-bright: span Готово

registration_access.html
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/css.css">
	<link rel="stylesheet" href="assets/new-style.css">
    <link rel="stylesheet" href="assets/responsive.css">
</head>
<body class="landing alt-bg">
<div class="header-wrapper">
      <div class="header no-login">
        <div class="static">
          <div class="logo loyalty"><a href="/"><img src="assets/img/logo_loyalty.png"></a></div>
          <div class="logo rshb"><a href="/"><img src="assets/img/logo_rshb.png"></a></div>
          <button class="btn btn-light"><img src="assets/img/icon-lock.png"><span>Войти</span></button>
        </div>
      </div>
    </div>
<div class="page-wrapper">
    <div class="page-container">
        <div>
            <div class="substrate padding">
                <div class="form-block"><span class="title">Введите код подтверждения</span>
                    <form>
                        <div class="message">
                            <p>Код подтверждения отправлен на номер +7 926 ×××-××-12</p>
                            <a class="js-send-code send-code" href="#">Отправить код повторно</a>

                        </div>
                        <div class="textbox">
                            <input type="text" placeholder="Введите код">
                        </div>
                        <div class="textbox passwordbox">
                            <input type="password" maxlength="20" id="pass1" placeholder="Придумайте пароль" required/>
                            <i class="eye"></i>

                        </div>
                        <div class="textbox passwordbox">
                            <input type="password" maxlength="20" id="pass2" placeholder="Повторите пароль" required/>
                            <i class="eye"></i>
                        </div>
                        <div class="control">
                            <button type="submit" id="submit-button" class="btn btn-bright"><span>Готово</span></button>
                            <p class="error_pass">Введеные пароли не совпадают</p>
                            <p class="min_pass">Пароль должен быть более 6 символов</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-wrapper">
    <div class="footer">
        <div class="info">
            <div class="block"><span class="title">Информация об услугах</span><a href="/" class="owner">Официальный сайт АО «Россельхозбанк»</a><span class="phone">8 (800) 200-02-90</span><span class="footnote">Звонок по России бесплатный</span></div>
            <div class="block social"><span class="title">Мы в социальных сетях</span><a href="/"><img src="assets/img/facebook.png"><span>Facebook</span></a><a href="/"><img src="assets/img/twitter.png"><span>Twitter</span></a><a href="/"><img src="assets/img/vk.png"><span>Вконтакте</span></a><a href="/"><img src="assets/img/od.png"><span>Одноклассники</span></a></div>
            <div class="block links"><span class="title">Программа лояльности</span><a href="/"><span>Помощь и поддержка</span></a><a href="/"><span>Условия Программы лояльности «Урожай»</span></a></div>
        </div>
        <div class="copy"><span>© 2000-2016 АО «Россельхозбанк»</span><span>119034, г. Москва, Гагаринский пер., д.3.</span><span>E-mail: office@rshb.ru</span></div>
    </div>
    <div class="footer-cart">
		<div>
			<img id="cart-footer" src="assets/img/footer-cart.jpg"/>
			<a href="/">Политика безопасности</a>
			<img id="platforma" src="assets/img/platforma.jpg"/>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="script.js"></script>
<script>
    var timer = {
        timer: null,
        nextTry: null,
        pad2: function(number) {
            return (number < 10 ? '0' : '') + number;
        },
        printTime: function(next) {
            var now = new Date();
            var diff = next.getTime() - now.getTime();
            diff = diff/1000;
            $('.timer-block .time').html(this.pad2(Math.round(diff/60)) + ':' + this.pad2(Math.round(diff % 60)));
        },
        timerAction: function() {
            timer.printTime(timer.nextTry);
            var now = new Date();
            var diff = timer.nextTry.getTime() - now.getTime();
            diff = diff/1000;
            if (diff <= 1) {
                clearInterval(timer.timer);
                $('.timer-block').remove();
                $('.js-send-code').show();
            }
        },
        init: function () {
            var self = this;
            $('.js-send-code').on('click', function () {
                $(this).hide();

                self.nextTry = new Date();
                self.nextTry.setTime(self.nextTry.getTime() + 90000); // полторы минуты (90 секунд)

                $('<p class=\'timer-block\'>Вы можете получить новый код через <span class="time"></spanclass></p>').insertAfter($(this));
                self.printTime(self.nextTry);

                self.timer = setInterval(self.timerAction, 500);
                return false;
            });

        }
    };
    $(document).ready(function () {
        timer.init();
        $('.eye').on('click', function() {
            var input = $(this).parent('.passwordbox').children('input');
            input.clone().attr('type', input.is('input[type=password]') ? 'text' : 'password').insertAfter(input);
            input.remove();
        });
    });
</script>
</body>
</html>
