source/jade/roadmap.jade
extends _layer.landing


block title
    title

block content

    .page-container.page-container--dark: div
        .path
            ul.path__list
                li.path__item
                    a.path__link(href="#") Главная
                li.path__item
                    span.path__link Путевая Карта
        .roadmap-card
            .roadmap-card__left
                img.roadmap-card__img(src="assets/img/cards.png")
            .roadmap-card__right
                .roadmap-card__title.title Путевая Карта — уникальная карта для путешественников
                p.roadmap-card__text.text Все держатели «Путевой карты» участвуют в программе лояльности «Урожай» на специальных условиях!
                a.btn.roadmap-card__btn(href="#") Оформить карту
                
    .page-container
        ul.roadmap-feature
            li.roadmap-feature__item 
                .roadmap-feature__img-box
                    img.roadmap-feature__img(src="assets/img/roadmap-feature-icon1.png", alt="Бесплатное снятие наличных в любых банкоматах любых банков по всему миру")
                p.roadmap-feature__text Бесплатное снятие наличных в любых банкоматах любых банков по всему миру
            li.roadmap-feature__item 
                .roadmap-feature__img-box
                    img.roadmap-feature__img(src="assets/img/roadmap-feature-icon2.png", alt="Бесплатное обслуживание для активных клиентов")
                p.roadmap-feature__text Бесплатное обслуживание для активных клиентов
            li.roadmap-feature__item 
                .roadmap-feature__img-box
                    img.roadmap-feature__img(src="assets/img/roadmap-feature-icon3.png", alt="Бесплатный SMS-сервис по счету")
                p.roadmap-feature__text Бесплатный SMS-сервис по счету
            li.roadmap-feature__item 
                .roadmap-feature__img-box
                    img.roadmap-feature__img(src="assets/img/roadmap-feature-icon4.png", alt="Страховка для выезжающих за рубеж")
                p.roadmap-feature__text Страховка для выезжающих за рубеж
            li.roadmap-feature__item 
                .roadmap-feature__img-box
                    img.roadmap-feature__img(src="assets/img/roadmap-feature-icon5.png", alt="Оплата бонусными баллами авиа и ж/д билетов на все направления")
                p.roadmap-feature__text Оплата бонусными баллами авиа и ж/д билетов на все направления
            li.roadmap-feature__item 
                .roadmap-feature__img-box
                    img.roadmap-feature__img(src="assets/img/roadmap-feature-icon6.png", alt="Все бонусы умножаются на 2 первые 2 месяца пользования картой")
                p.roadmap-feature__text Все бонусы умножаются на 2 первые 2 месяца пользования картой
        .roadmap-choice
            a.roadmap-choice__item(href="#")
                img.roadmap-choice__img(src="assets/img/rshb-card-2.png")
                .roadmap-choice__link Тарифный план Кредитная&nbspПутевая&nbspкарта
            a.roadmap-choice__item(href="#")
                img.roadmap-choice__img(src="assets/img/rshb-card-1.png")
                .roadmap-choice__link Тарифный план Дебетовая&nbspПутевая&nbspкарта
            

roadmap.html
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/style.css">
	<link rel="stylesheet" href="assets/new-style.css">
	<link rel="stylesheet" href="assets/responsive.css">
  </head>
  <body class="landing">
    <div class="header-wrapper">
      <div class="header no-login">
        <div class="static">
          <div class="logo loyalty"><a href="/"><img src="assets/img/logo_loyalty.png"></a></div>
          <div class="logo rshb"><a href="/"><img src="assets/img/logo_rshb.png"></a></div>
          <button class="btn btn-light"><img src="assets/img/icon-lock.png"><span>Войти</span></button>
        </div>
      </div>
    </div>
    <div class="page-container page-container--dark grey-bg">
        <div class="road-grey">
          <div class="path">
            <ul class="path__list">
              <li class="path__item"><a href="#" class="path__link">Главная</a></li>
              <li class="path__item"><span class="path__link">Путевая Карта</span></li>
            </ul>
          </div>
          <div class="roadmap-card">
            <div class="roadmap-card__left"><img src="assets/img/cards.png" class="roadmap-card__img"></div>
            <div class="roadmap-card__right">
              <div class="roadmap-card__title title">Путевая Карта — уникальная карта для путешественников</div>
              <p class="roadmap-card__text text">Все держатели «Путевой карты» участвуют в программе лояльности «Урожай» на специальных условиях!</p><a href="#" class="btn roadmap-card__btn">Оформить карту</a>
            </div>
          </div>
        </div>
    </div>
    <div class="page-wrapper">
      <div class="page-container">
        <ul class="roadmap-feature">
          <li class="roadmap-feature__item"> 
            <div class="roadmap-feature__img-box"><img src="assets/img/roadmap-feature-icon1.png" alt="Бесплатное снятие наличных в любых банкоматах любых банков по всему миру" class="roadmap-feature__img"></div>
            <p class="roadmap-feature__text">Бесплатное снятие наличных в любых банкоматах любых банков по всему миру</p>
          </li>
          <li class="roadmap-feature__item"> 
            <div class="roadmap-feature__img-box"><img src="assets/img/roadmap-feature-icon2.png" alt="Бесплатное обслуживание для активных клиентов" class="roadmap-feature__img"></div>
            <p class="roadmap-feature__text">Бесплатное обслуживание для активных клиентов</p>
          </li>
          <li class="roadmap-feature__item"> 
            <div class="roadmap-feature__img-box"><img src="assets/img/roadmap-feature-icon3.png" alt="Бесплатный SMS-сервис по счету" class="roadmap-feature__img"></div>
            <p class="roadmap-feature__text">Бесплатный SMS-сервис по счету</p>
          </li>
          <li class="roadmap-feature__item"> 
            <div class="roadmap-feature__img-box"><img src="assets/img/roadmap-feature-icon4.png" alt="Страховка для выезжающих за рубеж" class="roadmap-feature__img"></div>
            <p class="roadmap-feature__text">Страховка для выезжающих за рубеж</p>
          </li>
          <li class="roadmap-feature__item"> 
            <div class="roadmap-feature__img-box"><img src="assets/img/roadmap-feature-icon5.png" alt="Оплата бонусными баллами авиа и ж/д билетов на все направления" class="roadmap-feature__img"></div>
            <p class="roadmap-feature__text">Оплата бонусными баллами авиа и ж/д билетов на все направления</p>
          </li>
          <li class="roadmap-feature__item"> 
            <div class="roadmap-feature__img-box"><img src="assets/img/roadmap-feature-icon6.png" alt="Все бонусы умножаются на 2 первые 2 месяца пользования картой" class="roadmap-feature__img"></div>
            <p class="roadmap-feature__text">Все бонусы умножаются на 2 первые 2 месяца пользования картой</p>
          </li>
        </ul>
        <div class="roadmap-choice"><a href="#" class="roadmap-choice__item"><img src="assets/img/rshb-card-2.png" class="roadmap-choice__img">
            <div class="roadmap-choice__link">Тарифный план Кредитная&nbspПутевая&nbspкарта</div></a><a href="#" class="roadmap-choice__item"><img src="assets/img/rshb-card-1.png" class="roadmap-choice__img">
            <div class="roadmap-choice__link">Тарифный план Дебетовая&nbspПутевая&nbspкарта</div></a></div>
      </div>
    </div>
    <div class="footer-wrapper">
      <div class="footer">
        <div class="info">
          <div class="block"><span class="title">Информация об услугах</span><a href="/" class="owner">Официальный сайт АО «Россельхозбанк»</a><span class="phone">8 (800) 200-02-90</span><span class="footnote">Звонок по России бесплатный</span></div>
          <div class="block social"><span class="title">Мы в социальных сетях</span><a href="/"><img src="assets/img/facebook.png"><span>Facebook</span></a><a href="/"><img src="assets/img/twitter.png"><span>Twitter</span></a><a href="/"><img src="assets/img/vk.png"><span>Вконтакте</span></a><a href="/"><img src="assets/img/od.png"><span>Одноклассники</span></a></div>
          <div class="block links"><span class="title">Программа лояльности</span><a href="/"><span>Помощь и поддержка</span></a><a href="/"><span>Условия Программы лояльности «Урожай»</span></a></div>
        </div>
        <div class="copy"><span>© 2000-2016 АО «Россельхозбанк»</span><span>119034, г. Москва, Гагаринский пер., д.3.</span><span>E-mail: office@rshb.ru</span></div>
      </div>
    </div>
	<div class="footer-cart">
		<div>
			<img id="cart-footer" src="assets/img/footer-cart.jpg"/>
			<a href="/">Политика безопасности</a>
			<img id="platforma" src="assets/img/platforma.jpg"/>
		</div>
	</div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/slick.min.js"></script>
  <script src="assets/js/retina.min.js"></script>
  <script>
    $(document).ready(function () {
    
        $('#slides').slick({
            autoplaySpeed: 6000,
            pauseOnHover: false,
            draggable: false,
            autoplay: false,
            arrows: false,
            fade: true,
            dots: true
        });
    })
  </script>
  <script src="assets/js/new-scripts.js"></script>
</html>
