source/jade/rules.jade
extends _layer.landing_dark


block title
    title

block content

    .page-container: div
        .substrate
            
            .form-block
                span.title Правила участия в программе лояльности «Урожай»

                .new-window-link Открыть в новом окне

                form

                    .textbox
                        input(type="password" placeholder="Пароль")

                    .icr-text
                        Я принимаю правила участия

                    .control
                        button(type="submit").btn.btn-bright: span Продолжить

rules.html
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/style.css">
  <link rel="stylesheet" href="assets/new-style.css">
  <link rel="stylesheet" href="assets/responsive.css">
</head>
<body class="landing alt-bg">
<div class="header-wrapper">
      <div class="header no-login">
        <div class="static">
          <div class="logo loyalty"><a href="/"><img src="assets/img/logo_loyalty.png"></a></div>
          <div class="logo rshb"><a href="/"><img src="assets/img/logo_rshb.png"></a></div>
          <button class="btn btn-light"><img src="assets/img/icon-lock.png"><span>Войти</span></button>
        </div>
      </div>
    </div>
<div class="page-wrapper">
  <div class="page-container">
    <div>
      <div class="substrate padding">
        <div class="form-block"><span class="title">Правила участия в программе лояльности «Урожай»</span>
          <div><a class="new-window-link" href="#">Открыть в новом окне</a></div>
          <form>
            <div class="textbox rules">
              <textarea>Для того что бы принять участие в программе лояльности «Урожай» Вы должны быть держателем действующей платёжной карты «Россельхозбанка» одного из перечисленных ниже тарифных планов: «Зарплатный», «Зарплатный-РСХБ», «Зарплатный 5+», «Персональный», «Пенсионный», «Капитал», «Сервисный», «Кредитная карта с льготным периодом кредитования». Вы ещё не являетесь держателем карты Россельхозбанка? Оформить карту (http://www.rshb.ru/natural/application-for-cards/) Карты тарифных планов «Путевая карта» участвуют в программе лояльности «Урожай» по умолчанию. Программа лояльности «Урожай» АО «Россельхозбанк» подключается как бесплатная дополнительная услуга подключение возможно через каналы дистанционного банковского обслуживания (банкоматы и терминалы), в дополнительных офисах Россельхозбанка или через сотрудника Контакт-центра, по номеру 8-800- 200-60-99*. Оставить заявку на подключение к программе лояльности «Урожай» (http://www.rshb.ru/feedback/call.php)</textarea>
            </div>

            <label class="icr-label agree">
              <span class="icr-item type_checkbox"></span>
              <span class="icr-hidden"><input class="icr-input" type="checkbox" name="agree" value="1" /></span>
              <span class="icr-text">Я принимаю правила участия</span>
            </label>
            <div class="control">
              <button type="submit" class="btn btn-bright"><span>Продолжить</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-wrapper">
  <div class="footer">
    <div class="info">
      <div class="block"><span class="title">Информация об услугах</span><a href="/" class="owner">Официальный сайт АО «Россельхозбанк»</a><span class="phone">8 (800) 200-02-90</span><span class="footnote">Звонок по России бесплатный</span></div>
      <div class="block social"><span class="title">Мы в социальных сетях</span><a href="/"><img src="assets/img/facebook.png"><span>Facebook</span></a><a href="/"><img src="assets/img/twitter.png"><span>Twitter</span></a><a href="/"><img src="assets/img/vk.png"><span>Вконтакте</span></a><a href="/"><img src="assets/img/od.png"><span>Одноклассники</span></a></div>
      <div class="block links"><span class="title">Программа лояльности</span><a href="/"><span>Помощь и поддержка</span></a><a href="/"><span>Условия Программы лояльности «Урожай»</span></a></div>
    </div>
    <div class="copy"><span>© 2000-2016 АО «Россельхозбанк»</span><span>119034, г. Москва, Гагаринский пер., д.3.</span><span>E-mail: office@rshb.ru</span></div>
  </div>
</div>
<div class="footer-cart">
	<div>
		<img id="cart-footer" src="assets/img/footer-cart.jpg"/>
		<a href="/">Политика безопасности</a>
		<img id="platforma" src="assets/img/platforma.jpg"/>
	</div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="assets/js/ion.checkRadio.min.js"></script>
<script>
  $('.icr-input').ionCheckRadio();
</script>
<script src="assets/js/new-scripts.js"></script>
</html>
