source/jade/wishlist_empty.jade
extends _layer.inner


block title
    title

block content

    .page-container.col-md-12.col-xs-12
      .category-befor
        .menu-header
          button.btn.btn-light
            img(src='assets/img/menu-btn.png')
            span Меню
        .search
          img(src='assets/img/icon-search.png')
          input(type='text', placeholder='Искать по названию')
        .hidden-xs.back
        
      .category-befor
        .breadcrumbs
          h2 Список желаний
          
      .basket-content
        .element
          p Ваш список желаний пуст

wishlist_empty.html
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css.css">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/bootstrap.min.css">
	<link rel="stylesheet" href="assets/new-style.css">
	<link rel="stylesheet" href="assets/responsive.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/retina.min.js"></script>
    <script src="assets/js/accordion.js"></script>
	<script src="assets/js/new-scripts.js"></script>
  </head>
  <body class="landing alt-bg">
    <div class="header-wrapper">
      <div class="header login-header">
        <div class="static">
            <div class="logo loyalty"><a href="/"><img src="assets/img/logo_loyalty.png"></a></div>
			<div class="logo rshb"><a href="/"><img src="assets/img/logo_rshb.png"></a></div>
			<div class="cabinet-header">
				<div class="exit"><a href="">Выход</a></div>
				<div class="header-id">
					<span>1234567890</span>
				</div>
				<div class="header-price">
					<span>3724</span>
				</div>
			</div>
		</div>
      </div>
    </div>
    <div class="page-wrapper">
      <div class="page-container col-md-12 col-xs-12">
        <div class="category-befor">
          <div class="menu-header">
            <button class="btn btn-light"><img src="assets/img/menu-btn.png"><span>Меню</span></button>
          </div>
          <div class="container-search">
					<a href="/" class="cross-3"><img src="assets/img/cross-2.png" alt=""/></a>
					<div class="search"">
						<img src="assets/img/icon-search.png"/>
						<input type="text" placeholder="Искать по названию"/>
					</div>
				</div>
          <div class="hidden-xs back"></div>
        </div>
        <div class="category-befor">
          <div class="breadcrumbs">
            <h2>Список желаний</h2>
          </div>
        </div>
        <div class="basket-content">
          <div class="element wishnull">
            <p>Ваш список желаний пуст</p>
          </div>
        </div>
        <div class="button-basket">
			<div>
				<button class="btn-class1" onclick="location.href='/'">Назад в каталог</button>
			</div>
		</div>
      </div>
    </div>
    <div class="footer-wrapper">
      <div class="footer">
        <div class="info">
          <div class="block"><span class="title">Информация об услугах</span><a href="/" class="owner">Официальный сайт АО «Россельхозбанк»</a><span class="phone">8 (800) 200-02-90</span><span class="footnote">Звонок по России бесплатный</span></div>
          <div class="block social"><span class="title">Мы в социальных сетях</span><a href="/"><img src="assets/img/facebook.png"><span>Facebook</span></a><a href="/"><img src="assets/img/twitter.png"><span>Twitter</span></a><a href="/"><img src="assets/img/vk.png"><span>Вконтакте</span></a><a href="/"><img src="assets/img/od.png"><span>Одноклассники</span></a></div>
          <div class="block links"><span class="title">Программа лояльности</span><a href="/"><span>Помощь и поддержка</span></a><a href="/"><span>Условия Программы лояльности «Урожай»</span></a></div>
        </div>
        <div class="copy"><span>© 2000-2016 АО «Россельхозбанк»</span><span>119034, г. Москва, Гагаринский пер., д.3.</span><span>E-mail: office@rshb.ru</span></div>
      </div>
    </div>
	<div class="footer-cart">
		<div>
			<img id="cart-footer" src="assets/img/footer-cart.jpg"/>
			<a href="/">Политика безопасности</a>
			<img id="platforma" src="assets/img/platforma.jpg"/>
		</div>
	</div>
  </body>
</html>
